<head>
    <style>
    table 
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 3px solid #0a0a0a;
      text-align: left;
      padding: 8px;
    }
 
    </style>
</head>
{% extends "layout.html"%}


{% block body %}


<h1><i>Registered Details</h1></i>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
   <thead>
       <tr>
           <th>isbn</th>
           <th>title</th>
           <th>author</th>
           <th>year</th>
       </tr>
   </thead>
   {% for row in book %}
   <tbody>
       <tr>
           {% if row.isbn==name and row.title==name and row.author==name and row.year==name %}
           <th>{{row.isbn}}</th>
           <th>{{row.title}}</th>
           <td>{{row.author}}</td>
           <td>{{row.year}}</a></td>
           {% endif %}
       </tr>
   </tbody>
   {% endfor %}
</table>
